#!/bin/bash

#for $sid, $servername, $clientport, $port1, $port2 in $serverlist
java -cp log4j.jar:zookeeper.jar:. org.apache.zookeeper.server.quorum.QuorumPeerMain ./$servername:$clientport/zoo.cfg > ./$servername:$clientport/zoo.log 2>&1 &
echo -n $! > ./$servername:$clientport/zookeeper_server.pid

#end for
