#!/bin/bash

#for $sid, $servername, $clientport, $port1, $port2 in $serverlist
if [ ! -f ./$servername:$clientport/zookeeper_server.pid ] ; then
SERVER_JVMFLAGS=""
#if $sasl
SERVER_JVMFLAGS="\${SERVER_JVMFLAGS} -Djava.security.auth.login.config=/path/to/server.conf"
#end if
#if $trace
SERVER_JVMFLAGS="\${SERVER_JVMFLAGS} -Dzookeeper.root.logger=TRACE,CONSOLE,TRACEFILE -Dzookeeper.log.dir=./$servername:$clientport"
#end if
	java \$ZKCONF_START_ZKOPTS \$SERVER_JVMFLAGS -cp ./*:. org.apache.zookeeper.server.quorum.QuorumPeerMain ./$servername:$clientport/zoo.cfg > ./$servername:$clientport/zoo.log 2>&1 &
	echo -n $! > ./$servername:$clientport/zookeeper_server.pid
else
	PID=`cat ./$servername:$clientport/zookeeper_server.pid`
	echo "Server $servername:$clientport already started as PID \${PID}"
fi

#end for
