tickTime=2000
initLimit=10
syncLimit=5
dataDir=./$servername:$clientPort/data

#if $ssl
secureClientPort=$clientPort
clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
ssl.keyStore.location=/path/to/keystore.jks
ssl.keyStore.password=password
ssl.trustStore.location=/path/to/truststore.jks
ssl.trustStore.password=password

sslQuorum=true
serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory
ssl.quorum.keyStore.location=/path/to/keystore.jks
ssl.quorum.keyStore.password=password
ssl.quorum.trustStore.location=/path/to/truststore.jks
ssl.quorum.trustStore.password=password
#else
clientPort=$clientPort
#end if

#if $sasl
authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
requireClientAuthScheme=sasl
#end if

#if $maxClientCnxns != 10
maxClientCnxns=$maxClientCnxns
#end if

#if len($serverlist) > 1
#if $electionAlg != 3
electionAlg=$electionAlg
#end if

#for $sid, $servername, $clientport, $port1, $port2 in $serverlist
server.$sid=$servername:$port1:$port2
#end for

#if len($weights) > 0
#for $sid, $servername, $clientport, $port1, $port2 in $serverlist
weight.$sid=$weights[$sid - 1]
#end for
#end if

#if len($groups) > 0
#for $i in xrange(1, len($groups) + 1)
group.$i=$groups[$i - 1]
#end for
#end if
#end if
